<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="ReverseProxyInboundRule" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{CACHE_URL}" pattern="^(https?)://" />
          </conditions>
          <!-- Update this IP address/Hostname for the destination of the reverse proxy -->
          <!-- Would probably make sense to make the url here part of a config value replacement on deployment -->
          <action type="Rewrite" url="{C:1}://192.168.10.50/{R:1}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
